<!-- index.html -->
{{define "content"}}
<div class="grid md:grid-cols-2 gap-8 lg:gap-12">
  <div>
    <!-- image - start -->
    <div
      class="h-32 md:h-auto bg-white-100 overflow-hidden rounded-lg shadow-lg"
    >
      <img
        src="https://storage.googleapis.com/gopherizeme.appspot.com/gophers/89eea2846999afb6e364dbb9abfdf9f394b7a970.png"
        loading="lazy"
        alt="gopherize.me"
        class="w-full h-full object-cover object-center"
      />
    </div>
    <!-- image - end -->
  </div>
  {{ template "login" }}
</div>
{{end}}
