<!-- profile.html -->
{{define "content"}}

<div
  x-data="{ results:[], isLoading: false }"
  x-init="fetch('/api/providers')
    .then(response => response.json())
    .then(response => {
          results = response;
          isLoading = false;
    })"
>
  <h2 x-show="isLoading">Loading ...</h2>

  <!-- Show providers if there are any -->
  <template x-if="results.length > 0">
    <template x-for="prov in results">
      <div class="grid md:grid-cols-6 gap-4">
        <!-- images - start -->
        <div class="space-y-4 col-span-1">
          <div
            x-show="prov.UserAvatarURL.length > 0"
            class="bg-white-100 rounded-lg overflow-hidden relative"
          >
            <img
              :src="prov.UserAvatarURL"
              loading="lazy"
              :alt="prov.UserName"
              class="w-full object-center"
            />
          </div>
        </div>
        <!-- images - end -->

        <!-- content - start -->
        <div class="md:py-1 col-span-5">
          <!-- name - start -->
          <div class="mb-2 md:mb-3">
            <span
              class="inline-block text-gray-500 mb-0.5"
              x-text="prov.Provider"
            ></span>
            <br />
            <h2
              x-text="prov.UserName"
              class="text-gray-800 text-xl lg:text-2xl font-bold"
            ></h2>
          </div>
          <!-- name - end -->

          <!-- description - start -->
          <div
            x-show="prov.UserDescription.length > 0"
            class="mt-10 md:mt-1 lg:mt-10"
          >
            <div class="text-gray-800 text-base mb-3">Description</div>

            <p x-text="prov.UserDescription" class="text-gray-500"></p>
          </div>
          <br />
          <!-- description - end -->
        </div>
        <!-- content - end -->
      </div>
    </template>
  </template>

  <!-- Otherwise show login  -->
  <template x-if="results.length === 0">
    {{template "login-message"}}
  </template>
</div>
{{end}}
