{{define "content"}}
<div
  class="w-full block p-6 rounded-lg shadow-lg bg-white"
  x-data="shareForm()"
>
  <label
    x-text="message"
    class="form-label inline-block mb-2 text-gray-700"
  ></label>
  <form action="/api/share" method="POST" @submit.prevent="submitData">
    <!-- Checkboxes -->
    <div class="mb-8">
      <div class="form-check">
        <input class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="checkbox" value="twitter" id="flexCheckDefault">
        <label class="form-check-label inline-block text-gray-800" for="flexCheckDefault">
          <a href="/auth/twitter">Send to twitter</a>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="checkbox" value="linkedin" id="flexCheckChecked">
        <label class="form-check-label inline-block text-gray-800" for="flexCheckChecked">
          <a href="/auth/linkedin">Send to LinkedIn</a>
        </label>
      </div>
    </div>

    <!-- URL -->
    <div class="form-group mb-6">
      <input
        type="text"
        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        id="url"
        placeholder="URL"
        x-model="formData.URL"
      />
    </div>
    <!-- Title -->
    <div class="form-group mb-6">
      <input
        type="text"
        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        id="title"
        placeholder="Title"
        x-model="formData.title"
      />
    </div>
    <!-- Comment -->
    <div class="form-group mb-6" data-limit="280">
      <input
        type="text"
        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        id="comment"
        rows="5"
        placeholder="Comment"
        x-model="formData.comment"
        x-ref="comment"
      />
    </div>
    <div class="form-group mb-6">
      <label class="form-label inline-block mb-2 text-gray-700">Preview</label>
      <textarea
        readonly="readonly"
        x-text="`${formData.title} ${formData.comment} - ${formData.URL}`"
        placeholder="Readonly preview"
        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
      ></textarea>
    </div>
    <!-- Twitter remaining characters -->
    <div
      class="block mt-1 mb-6 text-xs text-gray-600"
      x-data="{ limit: $el.dataset.limit }"
      data-limit="280"
    >
      <small x-ref="remaining">
        For <strong>Twitter</strong>: You have
        <span
          x-text="limit - ( formData.URL.length + formData.comment.length)"
        ></span>
        characters remaining. Title field is ignored.
      </small>
    </div>
    <!-- Share button -->
    <button
      type="submit"
      class="w-full px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
    >
      Share
    </button>
  </form>
</div>
<script>
  function commentData() {
    return {
      limit: $el.dataset.limit,
      get remaining() {
        return this.limit - this.content.length;
      },
    };
  }

  function shareForm() {
    return {
      formData: {
        URL: "",
        title: "",
        comment: "",
      },
      message: "",
      // fetch API error handler
      handleErrors(response) {
        if (response.status >= 200 && response.status <= 299) {
          return response.json();
        } else {
          let err = new Error(response.statusText);
          err.response = response;
          throw err;
        }
      },
     async submitData() {
        // Collect checkbox values
        var providersArray = []
        var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')

        // For every checkbox send request
        for (var i = 0; i < checkboxes.length; i++) {
          provider = checkboxes[i].value;
          providersArray.push(provider);

          // Send request
          await fetch(["/api/share/",provider].join(''), {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(this.formData),
          })
          // handle network err/success
            .then(this.handleErrors)
          // use response of network on fetch Promise resolve
            .then((jsonResponse) => {
              console.log("ok");
              console.log(jsonResponse);
              this.message = "URL shared successfully to " + provider;
            })
            .catch((err) => {
              console.log(err);
              this.message = "Couldn't share article: " + err;
            });
        };
      },
    };
  }
</script>
{{end}}
