{{define "login-message"}}
<div
  class="py-3 px-5 mb-4 bg-red-100 text-red-900 text-sm rounded-md border border-red-200"
  role="alert"
>
  No identity providers found. <br/>Please
  <a
    href="/auth/"
    class="justify-center items-center bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus-visible:ring ring-blue-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 gap-1 px-5 py-1 ml-1 mr-1"
  >
    Connect
  </a> to your social media platforms.
</div>
{{end}}
