{{ define "navbar" }}
<div id="menu" class="hidden w-full md:flex md:items-center md:justify-between md:w-auto ">
  <ul class="
           text-base text-gray-700
           pt-4
           md:flex
           md:justify-between
           md:pt-0"
  >
    <li>
    {{if eq .Active "index" }}
    <a href="/" class="text-indigo-500 text-lg font-semibold">Home</a>
     {{else}}
    <a href="/" class="
            block
            py-4
            md:p-4
            text-gray-600
            hover:text-indigo-500
            active:text-indigo-700
            text-lg
            font-semibold
            transition
            duration-100"
    >Home</a>
     {{end}}
    </li>

    <li>
    <a href="/auth/info"
     {{if eq .Active "authInfo" }}
        class="text-indigo-500 text-lg font-semibold"
     {{else}}
        class="
            block
            py-4
            md:p-4
            text-gray-600
            hover:text-indigo-500
            active:text-indigo-700
            text-lg
            font-semibold
            transition
            duration-100"
     {{end}}
    >Auth</a>
    </li>

    <li>
    <a href="/share/"
     {{if eq .Active "shareIndex" }}
        class="text-indigo-500 text-lg font-semibold"
     {{else}}
        class="
            block
            py-4
            md:p-4
            text-gray-600
            hover:text-indigo-500
            active:text-indigo-700
            text-lg
            font-semibold
            transition
            duration-100"
     {{end}}
    >Share</a>
    </li>

    <li>
    <a href="/about/"
     {{if eq .Active "about" }}
        class="text-indigo-500 text-lg font-semibold"
     {{else}}
        class="
            block
            py-4
            md:p-4
            text-gray-600
            hover:text-indigo-500
            active:text-indigo-700
            text-lg
            font-semibold
            transition
            duration-100"
     {{end}}
    >About</a>
    </li>

    </ul>
  </div>
{{end}}
